{% extends "base.html" %}

{% block content %}
<h1>Список работ</h1>
{% for item in works %}
<div class="col-md6 border rounded">
    <h2>{{item.job}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Работодатель - {{item.user}}, Минимальный стаж работы - {{item.experience}} г, Почта - {{item.email}}, Время работы - {{item.work_size}} ч,
    </div>
    <div>
        Время начала- {{item.start_time}}, Время окончания - {{item.end_time}}
    </div>
    {% if current_user.is_authenticated and current_user.name == item.user %}
       <div>
          <a href="/addjob/{{ item.id }}" class="btn btn-warning">
              Изменить
          </a>
          <a href="/job_delete/{{ item.id }}" class="btn btn-danger">
              Удалить
          </a>
      </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}